{
    "presets": [
        "env",
        "stage-1" //安装babel-preset-stage-1 兼容es8甚至以上语法
    ],
    "plugins": [
        "transform-vue-jsx",
        "syntax-dynamic-import" //安装这个插件 使其可以解析import语法 在引入异步组件中
    ]
}

//转换vue中的jsx代码
//npm i babel-preset-env@1.6.1 babel-plugin-transform-vue-jsx@3.5.0
//npm i babel-helper-vue-jsx-merge-props@^2.0.0 babel-plugin-syntax-jsx@^6.8.0